@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('header.css');
@import url('main.css');
@import url('quienes-somos.css');
@import url('footer.css');

/* Ajusto el header, el main y el footer de modo que quede
el header pegado arriba de todo, el footer abajo de todo y el
main en el centro.*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

/*Ordena el header, el main y el footer de modo que quede todo
bien distribuido.*/
.envoltorio-pagina {
    display: grid;
    min-height: 100dvh; /*asegura que el contenedor ocupe al menos el 100% de la altura de la ventana*/
    grid-template-rows: 
        auto 1fr auto; /* auto --> adapta el tamaño del encabezado
                          1fr --> ocupa el espacio restante entre el header y el footer 
                          auto --> para que el footer se quede siempre al final de la página*/
}